<div class="card" id="card-container" >
   {{#each bookData as |book|}}
   
 <div id="book-id{{book.id}}"style="display: none;">{{book.id}}</div>
  <h2 class="card-header" id="your-book-name" data-book-id="{{book.id}}">{{book.book_name}}</h2>
  <div class="card-body">
    <h5 class="card-title" id="your-book-authorname">{{book.author_name}}</h5>
    <p class="card-text" id="your-book-bookdescription">{{book.book_description}}</p>
    <a href="#"  data-bookid="{{book.id}}""  data-bookname="{{book.name}}"" data-authorname="{{book.author_name}}" data-bookdescription="{{book.book_description}}" class="btn btn-primary add" >Add to your books</a>
  </div>
  
      
         {{/each}}
 </div> 

<script src="/js/yourBooks.js"></script>